<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database Configuration -->

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibpra</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>


		<!-- Connection Pool Size -->
		<property name="hibernate.connection.pool_size">10</property>

		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Configure hbm2ddl.auto for creating schema -->
		
		<property name="hbm2ddl.auto">update</property>

		<!-- Outputs the SQL queries, should be disabled in Production -->
		<property name="hibernate.show_sql">true</property>


		<!-- Dialect Configuration -->
		<!-- Dialect is required to let Hibernate know the Database Type, MySQL, 
			Oracle etc Hibernate 4 automatically figure out Dialect from Database Connection 
			Metadata -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
		
		<!-- enable second level cache and query cache -->
		<!--  <property name="hibernate.cache.use_second_level_cache">true</property>
		 <property name="hibernate.cache.use_query_cache">true</property>
 		 <property name="net.sf.ehcache.configurationResourceName">/myehcache.xml</property>
 -->

		<!-- mapping file, we can use Bean annotations too -->
		<mapping resource="Employee.hbm.xml" />
		<!-- mapping annotation based entity -->
		
		<mapping class="com.Joctopus.Hib_Batch.Entity.Employee1"/>
		
		<!-- OneToOne Mapping -->
		<mapping class="com.Joctopus.Hib_Batch.Mappings.oneToone.Entity.Bank_Tx"/>
		<mapping class="com.Joctopus.Hib_Batch.Mappings.oneToone.Entity.Customer"/>
		
		<!-- OneToMANY Mapping -->
		<mapping class="com.Joctopus.Hib_Batch.Mappings.OneToMany.Entity.Cart"/>
		<mapping class="com.Joctopus.Hib_Batch.Mappings.OneToMany.Entity.Items"/>
		
		
		<!-- MayToMany Mapping -->
		<mapping class="com.Joctopus.Hib_Batch.Mappings.ManyToMany.Entity.Student"/>
		<mapping class="com.Joctopus.Hib_Batch.Mappings.ManyToMany.Entity.Course"/>
		
		<!-- HQL Classes -->
		
		<!-- MayToMany Mapping -->
		<mapping class="com.Joctopus.Hib_Batch.Mappings.HQL.Entity.EmployeeHql"/>
		<mapping class="com.Joctopus.Hib_Batch.Mappings.HQL.Entity.Address"/>
		
	</session-factory>


</hibernate-configuration>